@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ba9y76');
  src:  url('fonts/icomoon.eot?ba9y76#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ba9y76') format('truetype'),
    url('fonts/icomoon.woff?ba9y76') format('woff'),
    url('fonts/icomoon.svg?ba9y76#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e906";
}
.icon-font-size:before {
  content: "\e905";
}
.icon-wysiwyg:before {
  content: "\e905";
}
.icon-paint-format:before {
  content: "\e904";
}
.icon-bin:before {
  content: "\e903";
}
.icon-trashcan:before {
  content: "\e903";
}
.icon-remove:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e903";
}
.icon-recycle:before {
  content: "\e903";
}
.icon-dispose:before {
  content: "\e903";
}
.icon-star-empty:before {
  content: "\e902";
}
.icon-image:before {
  content: "\e900";
}
.icon-picture:before {
  content: "\e900";
}
.icon-photo:before {
  content: "\e900";
}
.icon-graphic:before {
  content: "\e900";
}
.icon-text-color:before {
  content: "\e901";
}
.icon-wysiwyg1:before {
  content: "\e901";
}
