.live-editor {
	position: relative;
	overflow: hidden;

	.app {
		width: 100%;
		height: 100vh;

		.canvas {
			position: absolute;
			width: 100%;
			top: 0;
			height: calc(100% - 10rem);
			display: flex;
			justify-content: center;
			align-items: flex-start;
			overflow: hidden;
			&--background{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
			}
			.color-picker-container{
				z-index: 2;
			}
			.color-picker-background-container{
				z-index: 2;
				position: absolute;
				right: 2rem;
				bottom: 2rem;
			}
			.item {
				position: absolute;
				flex: 0;
				white-space: nowrap;
				cursor: move;
				// user-select: none;
				&.active {
					outline: dashed 1px rgba(0,0,0,.2);
					outline-offset: 1px;
				}
			}
			.item-panel {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #fff;
				margin: 0.5rem 0;
				padding: 1rem 0;
				box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
				border-radius: 2px;
				border: solid 1px rgba(0,0,0,.2);

				&--item{
					margin: 0.5rem 0;
				}

				i{
					position: absolute;
					left: 1.5rem;
					color: rgba(0,0,0,.5);
				}
			}
		}

		.toolbar {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 10rem;

			padding: 1rem 0;
			z-index: 1;

			display: flex;
			background-color: #eee;
			justify-content: space-evenly;
			align-items: center;

			.icon-button {
				font-size: 5rem;
				padding: 1rem;
				color: #fff;
				background-color: #ccc;
				border-radius: 1rem;
				display: block;
				transition: color 0.5s, background-color 0.5s;

				&.active {
					color: #273;
					background-color: #cfa;
					transition: color 0.1s, background-color 0.1s;
				}
			}
		}
	}

	.tip {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;

		.text{
			background-color: rgba(0,0,0,.5);
			font-size: 4rem;
			color: #fff;
			padding: 2rem 5rem;
			border-radius: 2rem;
			white-space: nowrap;
		}
		opacity: 0;
	}
}
